.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-button-next {
  right: 45% !important;
  bottom: 24px !important;
  width: 80px !important;
  max-height: 48px !important;
  padding: 17px 25px;
  top: unset !important;
  border-radius: 1000px !important;
}
.swiper-button-prev {
  left: 45% !important;
  bottom: 24px !important;
  width: 80px !important;
  max-height: 48px !important;
  padding: 17px 25px;
  top: unset !important;
  border-radius: 1000px !important;
}
.swiper-button-next:after {
  padding: 16px 25px 16px 64px !important;
  border-radius: 0px 1000px 1000px 0px;
  border-top: 1.5px solid #f07800 !important;
  border-bottom: 1.5px solid #f07800 !important;
  border-left: 1.5px solid #f07800 !important;
}
.swiper-button-prev:after {
  padding: 16px 64px 16px 25px !important;
  border-radius: 1000px 0px 0px 1000px;
  border-top: 1.5px solid #f07800 !important;
  border-bottom: 1.5px solid #f07800 !important;
  border-right: 1.5px solid #f07800 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px !important;
  color: theme('colors.primary') !important;
  background-color: theme('colors.white') !important;
  width: 80px !important;
  font-size: 16px !important;
  border: unset !important;
}

.custom-slider {
  height: 600px;
  width: 100%;
  display: flex;
  background-color: theme('colors.primary');
}
.custom-slider-left {
  padding-top: 180px;
  padding-left: 130px;
}
.custom-slider-big-text {
  display: unset;
  width: 400px;
  text-align: start;
  align-items: flex-start;
}
.custom-slider-box-cta {
  display: flex;
  margin-top: 40px;
}

.slider-text-white {
  color: #ffffff;
}
.slider-text-secondary {
  color: theme('colors.secondary');
}
.text-cta {
  display: block;
}

.text-cta-yellow {
  padding-right: 8px;
}

.custom-slider-right {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  flex: auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 90px;
}

.one-hundred-percent {
  left: 568px;
  top: 80px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 300px;
  line-height: 60px;
  color: #fec906;
  z-index: 2;
}

.img-gau {
  position: absolute;
  bottom: -3;
  z-index: 100;
  right: 0;
}
.custom-paginator {
  background-color: white;
  width: 50px;
}

@media (min-width: 1800px) {
  .swiper-button-next {
    right: 47% !important;
  }
  .swiper-button-prev {
    left: 47% !important;
  }
}

/* Small Devices */
@media (max-width: 600px) {
  .swiper-button-next {
    right: 30% !important;
  }
  .swiper-button-prev {
    left: 30% !important;
  }
  .custom-slider {
    min-height: 708px;
    width: 100%;
    display: flex;
    background-color: #f07800;
  }
  .custom-slider-big-text {
    display: inline-block;
    width: 400px;
    text-align: start;
  }
  .custom-slider-left {
    padding-top: 72px;
    padding-left: 20px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    padding-left: 16px;
  }
  .custom-slider-right {
    padding-top: 160px;
    flex: auto;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 90px;
    position: absolute;
    margin-top: 28vh;
  }
  .text-cta {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }
  .one-hundred-percent {
    text-align: center;
    position: unset;
    top: unset;
    width: 100vw;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 39vw;
    bottom: 44vh;
    left: 0;
    display: flex;
  }
  .img-gau {
    width: 100vw;
    right: unset;
    height: 100%;
    bottom: -50%;
  }
  .slider-btn-cta {
    height: 56px;
  }
}
